*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html{
    min-height: 100%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/3ada2338-8d4b-4a34-bdb3-c800e0109915/TR-tr-20220801-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    font-family: 'Titan One', cursive;
}
.prf1{
    font-family: 'Amiri', serif;
}
.nclass:hover{
    border: 2px solid rgba(37, 37, 37, 0.671);
}
.sclass{
    width: max-content;
    margin:5px 25%;
    padding: 13px 45px;
    border-radius: 30px;
    /* color: white; */
    background-color: rgb(255, 0, 0);
    font-size: 18px;
}
.sclass:hover{
    cursor:pointer;
}
.head-container{
    /* border: 2px solid blue; */
    text-underline-position: auto;
    text-align: center;
    font-size: 20px;
} 
.span1{
    color:rgb(255, 0, 0);
}
.card-container{
    /* border: 2px solid green; */
    background-color: rgba(10, 10, 10, 0.863);
    margin: -27px 33% -22px;
}
.table-container{
    /* border:2px solid yellow; */
    padding: 20px;
    background-color: rgba(34, 31, 31, 0.335);
    margin: 10px 40px 7px;
}
.nclass{
    width: 315px; 
    height: 37px;
    padding-left: 10px;
}
.contypeclass{
    width: 285px;
    height: 27px;
    padding-left: 10px;
}
.feed_class{
    padding-left: 10px;
    padding-top: 10px;
}
.input-class{
    padding: 25px 25px 2px;
    /* border: 3px solid blue; */
}
