.main-container{
    border: 5px solid red
}
.head-container{
    border: 2px solid blue
} 
.card-container{
    border: 2px solid green
}
.table-container{
    border:2px solid yellow
}
.input2class{
    border:2px solid purple
}
.slctclass{
    border:2px solid darkorange
}
.optnclass{
    border: 2px solid darkgreen
}
.feedclass{
    border: 2px solid darkred
}
.sbmtclass{
    border: 3px solid pink 
}